.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Reduce el padding para hacer el footer más pequeño */
  background-color: #000;
  color: #fff;
  font-size: 14px; /* Reduce el tamaño de la fuente */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 5px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 2px;
    font-size: 10px;
  }
}
